*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(135, 191, 144);
}

#pannel{
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    padding: 0px 30%;
    color: #fff;
    width: 100%;
    height: 10%;
    background-color: rgb(52, 75, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element{
    display: flex;
    align-items: center;
    gap: 15px;
}

.box{
    padding: 10px 20px;
    color: rgb(18, 119, 57);
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
}

#pbottom{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: calc(100% - 10%);
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(52, 75, 54);
    border-radius: 50%;
    color: #fff;
}

.bubble:hover {
    cursor: pointer;
    background-color: #0c1b11;
}